footer {
  background-image: url("../images/footer/footer-bg.jpg");
  background-size: cover;
  color: white;
  padding: 1rem;
}

.footer-header-main-name h2 {
  font-size: 40px;
}
.footer-header-main-name span {
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-top: -0.8rem;
  padding-left: 1.3rem;
}

.footer-follow-us-container {
}

.footer ul a {
  all: unset;
  cursor: pointer;
  color: rgb(197, 197, 197);
}

.footer ul a:hover {
  color: white;
  text-decoration: underline;
}

.footer-font-size {
  font-size: 12px;
}

.footer select {
  background-color: transparent;
  border: none;
  color: white;
}

@media screen and (min-width: 1024px) {
  footer {
    padding: 2rem 5rem;
  }
}

@media screen and (min-width: 1600px) {
  footer {
    padding: 10rem 5rem;
  }
}
