html body {
  font-family: "Playfair Display", serif;
}

.hero {
  margin-top: 5rem;
  color: white;
  background-image: url(../images/hero-bg.jpg);
  background-size: cover;
  padding: 2rem;
}

.hero-division-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.background-primary {
  background-color: var(--background-primary) !important;
  color: white !important;
}

.hero h2 {
  font-size: 50px;
}

.hero-bg {
  max-width: 100%;
}

.hero-about-us {
  all: unset;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 0.5rem 2rem;
}

.veiw-homestay {
  all: unset;
  margin: auto 0;
}

.availiblity-container {
  background-color: white;
  padding: 4rem 2rem !important;
  color: rgb(0, 23, 116);
}

.availiblity-container-header {
  font-family: "Playfair Display", serif;
  font-size: 35px;
  color: rgb(78, 78, 78);
}

.availiblity-container input {
}

.availiblity-container select {
  list-style: lower-greek;
  border: 0;
  border-bottom: 2px solid black;
  padding-bottom: 0.4rem;
}

.availiblity-container select:focus {
  outline: none;
}

@media screen and (min-width: 1024px) {
  .hero {
    padding: 10rem;
  }

  .hero-division-container {
    flex-direction: row;
    justify-content: space-around;
  }
}
