.other-activities-card img {
  max-width: 100%;
}

.other-activities-card a {
  all: unset;
  cursor: pointer;
}

.other-activities-card ul {
  list-style: none;
  margin-left: -2rem;
}

.other-activities-card li::before {
  content: "• ";
  color: rgb(255, 149, 0); /* or whatever color you prefer */
}

.book-your-stay {
  margin-top: 2rem !important;
  padding: 0.5rem 2rem !important;
  border: 2px solid white !important;
}

.book-your-stay:hover {
  background-color: white;
  color: black;
}

@media screen and (min-width: 992px) {
  .other-activities-card img {
    max-width: 50%;
  }
}
