.room-category-card a {
  all: unset;
  cursor: pointer;
  padding: 0.5rem 2rem;
  border: 2px solid white;
  transition: color 0.5s;
}
.room-category-card a:hover {
  background-color: white;
  color: black;
}

@media screen and (min-width: 992px) {
  .room-category-card img {
    max-width: 65%;
  }
}
