.say-hello {
  background-image: url(../images/say-hello/say-hello-bg.jpg);
  background-size: cover;
}

.say-hello h2 {
  font-size: 40px;
}

.discover-more {
  all: unset;
  cursor: pointer;
  color: rgb(22, 22, 77);
}

@media screen and (min-width: 992px) {
  .say-hello-card {
    width: 30rem;
    margin: 3rem 10rem 3rem auto;
  }
}
