.testimonials-profile-img {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  background-size: cover;
  border-radius: 50%;
}

.testimonials-card-1 a span {
  background-image: url("../images/testimonials/profile-1.jpg");
}

.testimonials-card-2 a span {
  background-image: url("../images/testimonials/profile-2.jpg");
}

.testimonials-card-3 a span {
  background-image: url("../images/testimonials/profile-3.jpg");
}

.testimonial-date {
  margin-top: -1rem;
}

body section .testimonials-tripadvisor {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  background-image: url("../images/testimonials/tripadvisor.png");
  background-size: cover;
  border-radius: 50%;
}

ul.text-success {
  margin-left: -2rem;
}

.testimonials {
  padding: 5rem 2rem;
}

@media screen and (min-width: 768px) {
  .testimonials {
    padding: 5rem 2rem;
  }
}

@media screen and (min-width: 1700px) {
  .testimonials {
    padding: 5rem 20rem;
  }
}
